#caesar>input::placeholder {
    color: var(--link-color);
}

#caesar>input {
    display: block;
    padding: 15px;

    background-color: var(--background-color);
    border-color: var(--border-color);
    color: var(--text-color);
    margin-bottom: 20px;
}

#caesar>#number {
    max-width: 105px;
}

#caesar>#btn {
    margin: 15px;
    border-color: var(--border-color);
    border-radius: 2px;
    border-style: ridge;
    text-align: center;
}