

.visible {
    display: flex !important;
    align-items: center;
    z-index: 980;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;

    border-bottom-width: 0px;
    margin-bottom: -2px;
}

.visible>* {
    display: inline-block;
    height: 100%;
    max-width: 100%;
}

#statsContentConsoleInfoAll{
    width: 100%;
    
    min-height: 100px;
    height: 180px;

    backdrop-filter: var(--blur);
    resize: vertical;

    border: 2px solid var(--main-color);
    border-style: solid;
    border-width: 2px;

    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    border-radius: 0px;
}

#ContentLatestRSS{
    width: 100%;

    padding: 16px;


    border: 2px solid var(--main-color);
    border-style: solid;
    border-width: 2px;

    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

#ContentLatestRSS>img {
    width: 25px;
}