.contact {
    text-align: center;
    margin: auto;

    max-width: 100%;
}

.contact>h1{
    max-width: 90vw;
    font-size: 7.5vw;
    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.contact>img {
    margin-bottom: 5vh;
    margin-top: 5vh;

    max-width: 75%;

    width: 256px;

    border-radius: 100%;
    border-color: var(--text-color);
    border-width: 3px;
    border-style: solid;

    box-shadow: var(--box-shadow-all-inset-main-color);
}

.contact>hr{
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.contact>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact>div>a>h2 {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;

    padding-top: 3px;
}

.contact>div>a>p {
    font-size: 30px;
    padding-right: 12px;
}

.contact>div>a>img.svg,
.contact>div>div>img.svg {
    max-width: 50px;
    padding-right: 12px;
}

.contact>div>a,
.contact>div>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 3px solid var(--main-color);
    border-radius: 12px;

    box-shadow: var(--box-shadow-all-inset-main-transparent-color-small);

    margin: 12px;
    padding: 24px;

    flex-basis: 40%;

    text-decoration: none !important;

    background: linear-gradient(var(--background-color), var(--main-color-transparent));
}

.contact>div>a:hover,
.contact>div>div:hover {
    background-color: var(--main-color);
    box-shadow: var(--box-shadow-all-inset-main-color);
}

.contact>#techno>div{
    background-color: var(--main-color-transparent);
}

.contact>#techno{
    padding-top: 16px;
}