@font-face {
    font-family: Pacifico;
    src: url(/assets/font/Pacifico-Regular.ttf);
}

@font-face {
    font-family: Varela;
    src: url(/assets/font/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(/assets/font/Roboto-Regular.ttf);
}

b,
summary {
    font-family: Varela;

    font-size: x-large;
    font-weight: bolder;
}

i {
    font-style: italic;
}

p,
del,
i,
li,
u {
    font-family: Varela;

    font-size: larger;
    font-weight: normal;
}

a {
    font-family: Varela;

    font-size: larger;
    font-weight: bold;

    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Varela;
    color: var(--text-color);
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: x-large;
    font-weight: bold;
}

p,
b,
del,
i,
li,
u {
    color: var(--text-color);
}

hr {
    border-color: var(--main-color);

    width: 90%;

    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 12px;

    text-align: center;

    border-width: 2px;
}

a,
summary,
li::marker {
    color: var(--link-color);
}



.background-clip {
    background-repeat: repeat !important;

    background-clip: text !important;
    -webkit-background-clip: text !important;

    color: transparent !important;
    background: var(--gradient-color-all);

    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);

    background-size: 400% 400%;
    animation: animate 30s ease-in-out infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}