footer {
    position: relative;
    bottom: 0;

    width: 100%;

    padding-bottom: 2.5vh;
    padding-top: 2.5vh;

    z-index: 999;

    background: linear-gradient(var(--background-color), var(--main-color));

    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: baseline;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

footer>div>a,
footer>div>p {
    margin: 5px;
    text-decoration: none;
}

.svg{
    max-width: 40px;
    margin: 5px;
    padding-top: 0px;
}