header {
    position: sticky;
    top: 0;

    width: 100%;

    text-align: center;

    z-index: 999;
}

header>#navlinklist {
    width: 100%;

    background: linear-gradient(var(--main-color-transparent), var(--background-color-transparent));

    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);

    border-bottom-style: solid;
    border-bottom-color: var(--main-color);
    border-bottom-width: 3px;
}

@media screen and (max-width: 1024px) {
    header {
        position: relative;
    }

    header>* {
        padding-bottom: 16px;
    }
}

a.cardTitle {
    display: inline-block;
}