.youtubeEmbed>div.show-rain div.rain {
    display: inline-block;
}

.youtubeEmbed>div.show-chill div.chill {
    display: inline-block;
}

.youtubeEmbed>div.show-chilljp div.chilljp {
    display: inline-block;
}

.youtubeEmbed>div.show-classic div.classic {
    display: inline-block;
}

.youtubeEmbed>div.show-histoire div.histoire {
    display: inline-block;
}

.youtubeEmbed>div.show-phonk div.phonk {
    display: inline-block;
}

.youtubeEmbed>div.show-rap div.rap {
    display: inline-block;
}

.youtubeEmbed>div.show-trool div.trool {
    display: inline-block;
}

.youtubeEmbed>div.show-rock div.rock {
    display: inline-block;
}

#music-menu{
    display: flex !important;
}