#searchbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#search-box{
    padding-bottom: 5px;
    display: inline;
}

#search-box,
#result-box,
#search-box>input,
#searchbar {
    z-index: 990;

    max-width: 80vw;
    width: 80vw;
}

#search-box>input {
    height: 40px;
    font-size: 25px;
    color: var(--text-color);
    outline: none;
    background-color: transparent;
    text-indent: 10px;
}

#search-box>input::placeholder {
    color: var(--link-color);
    opacity: 0.9;
}

#result-box{
    display: none;
    position: fixed;
    max-height: 50vh;
    overflow: scroll;
}

#result-box,
#search-box>input {
    border-radius: 10px;
    background: linear-gradient(var(--main-color), var(--background-color));
    border: 2px solid var(--main-color);
}

#result-box>ul {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#result-box>ul>li {
    list-style: none;
    color: var(--link-color);
    text-align: left !important;
}

#result-box>ul>li:hover {
    color: var(--text-color);
}

#result-box>ul>li>a>img{
    max-width: 35px;
    min-width: 35px;
}

#result-box>ul>li>a {
    color: inherit;
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

#search-box > [data-clear-input] {
    font-weight: bold;
    font-size: xx-large;
    cursor: none;
    color: var(--text-color);
    float: right;
    position: relative;
    transform: translate(-100%, 110%);
}

#search-box>[data-clear-input]:hover {
    transform: translate(-100%, 110%) rotate(90deg);
    transition: 1s;
}