#settingsmenu>div{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

#settingsmenu>button {
    border-radius: 6px;
    padding: 10px;
}

.check {
    display: block;
}

.check>p{
    padding-left: 10px;
}