#slot-machine {
    display: flex;
    background-color: red;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#slot-machine-frame {
    display: inline-flex;
    width: 95%;
    height: 90%;
    margin: 2.5%;
    background-color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#slot-machine-frame-screen {
    animation: alternate 1s transform ease-in-out;
    transition: transform 0.5s ease-in-out;

    display: flex;
    width: 100%;
    height: 95%;
}

#slot-machine-lever {
    background-color: brown;
    height: 100%;
    width: 2%;
    display: flex;
}

#slot-machine-frame-credit {
    display: flex;
    background-color: blue;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
}

#slot-machine-frame-screen>div {
    background-color: yellow;
    border-color: red;
    width: 33%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
}

@keyframes shrink {
    from {
        transform: translateY(0%);
     }
    to {
        transform: translateY(-100%);
     }
}