.youtubeEmbed>div.show-hack div.hack {
    display: inline-block;
}

.youtubeEmbed>div.show-IT div.IT {
    display: inline-block;
}

.youtubeEmbed>div.show-discord div.discord {
    display: inline-block;
}

.youtubeEmbed>div.show-code div.code {
    display: inline-block;
}

.youtubeEmbed>div.show-malware div.malware {
    display: inline-block;
}

#video-menu{
    display: flex !important;
}
