#welcome{
}

#welcome>#title>* {
    display: inline;
}

#welcome>#banner>img {
    max-width: 100%;
}

#opensource {
    padding-top: 50px;
    padding-bottom: 50px;
}

#opensource>:first-child {
    max-width: 30%;
    padding-right: 15px;
    border-radius: 32px;
}

#opensource>* {
    display: inline-block;
}

#opensource>div>h1 {
    text-decoration: underline;
}

#opensource>p,
#opensource>div>:last-child{
    padding-top: 30px;
}